.calendar {
    background-color: ghostwhite;
    margin-top: 20px;
}


.card {
    margin-top: 20px;
}


.calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell {
    text-align: center;
}

.weekDays {
    font-size: 1.2rem;
    font-weight: bold;
}

.day:hover {
    background-color: cornflowerblue;
}

h3 {
    text-align: center;
}

.active {
    background-color: cornflowerblue;
}

.btn {
    margin-left: 5px;
    padding: 4px;
    margin-top: 5px;
    border-radius: 10px;
}

.input-group {
    padding-left: 10px;
    padding-right: 10px;
}

.addEv {
    margin-bottom: 20px;
    margin-left: 20px;
}